.header {
    background-color: rgb(57, 177, 57);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 3px 10px black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.logo-span {
    color: aliceblue;
    font-size: x-large;
}

.nav-link {
    text-decoration: none;
    color: aliceblue;
    display: inline;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    cursor: pointer;
}

.nav-link:hover {
    color: black;
    transition: .4s;
    text-decoration: underline;
}